* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Georgia, 'Times New Roman', Times, serif
}

.main-content {
	width: 75vw;
	height: 90vh;
	margin: 5vh auto;
	padding: 1vh;
	font-size: 1.5rem;
	line-height: 1.5rem;
	outline: none;
	border: none;
}

.main-content:empty::before {
    content: attr(data-placeholder);
    color: rgb(187, 184, 184);
    opacity: .6;
}
